@charset "utf-8";

// Define defaults for each variable.

$base-font-family: -apple-system, BlinkMacSystemFont, sans-serif, "Segoe UI", Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$theme-switch-transition-span: 0.3;

$dark-text-color: #ffffff !default;
$dark-title-shadow1-color: #fff !default;
$dark-title-shadow2-color: #000 !default;
$dark-background-color: #293923 !default;
$dark-brand-color: #cbf6cf !default;
$dark-visited-link-color: darken($dark-brand-color, 15%) !default;
$dark-grey-color: #93d8e0 !default;
$dark-grey-color-brighter: lighten($dark-grey-color, 10%) !default;
$dark-grey-color-darker:  darken($dark-grey-color, 20%) !default;
$dark-code-background-color: #20251a !default;
$dark-code-border-color: saturate($dark-brand-color, 50%) !default;
$dark-post-meta-color: desaturate(lighten($dark-background-color, 35%), 15%) !default;
$dark-post-description-color: #fff !default;
$dark-post-separator-color: lighten($dark-background-color, 4%) !default;
$dark-footer-separator-color: saturate(lighten($dark-background-color, 40%), 10%) !default;
$dark-scrollbar-thumb-color: lighten($dark-background-color, 6%) !default;
$dark-scrollbar-track-color: darken($dark-background-color, 3%) !default;

$light-text-color: #000000 !default;
$light-title-shadow1-color: #000 !default;
$light-title-shadow2-color: #fff !default;
$light-background-color: #d0f4be !default;
$light-brand-color: #2c3a26 !default;
$light-visited-link-color: saturate(lighten($light-brand-color, 15%), 20%) !default;
$light-grey-color: #1b1f93 !default;
$light-grey-color-brighter: lighten($light-grey-color, 10%) !default;
$light-grey-color-darker:  darken($light-grey-color, 20%) !default;
$light-code-background-color: #eaff96 !default;
$light-code-border-color: saturate($light-brand-color, 50%) !default;
$light-post-meta-color: saturate(darken($light-background-color, 55%), 80%) !default;
$light-post-description-color: #000 !default;
$light-post-separator-color: darken($light-background-color, 10%) !default;
$light-footer-separator-color: saturate(darken($light-background-color, 45%), 30%) !default;
$light-scrollbar-thumb-color: darken($light-background-color, 12%) !default;
$light-scrollbar-track-color: lighten($light-background-color, 8%) !default;

$table-text-align: left !default;

// Width of the content area
$content-width:    800px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting"
;
