---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Thoughts" }}</h2>
    <ul class="post-list" id="post-list">
      {%- for post in site.posts -%}
      <li lang="{{ post.language }}" tags="{{ post.categories }}">
        <hr class="post-separator">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y - %H:%M" -%}
        <span class="post-meta">
          <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y - %H:%M" -%}
            {{ post.date | date: date_format }}
          </time>
          {%- if post.language -%}
          &emsp;•&emsp; <a class="post-meta-link" href="{{ my_page.url | relative_url }}/?language={{ post.language }}">{{ post.language }}</a>
          {%- endif -%}
          {%- if post.categories -%}
          &emsp;•&emsp;
            {%- for category in post.categories -%}
              <a class="post-meta-link" href="{{ my_page.url | relative_url }}/?tag={{ category }}">{{ category }}</a>
              {%- if category == post.categories.last -%} {%- break -%} {%- endif -%},&nbsp;
            {%- endfor -%}
          {%- endif -%}
        </span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if post.description -%}
          <span class="post-description">
            {{ post.description }}
          </span>
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

  {%- endif -%}

  <script src="/assets/js/query_filter.js"></script>

</div>
